<div class="display-heading">
    <h3><b>Full Stack Ward</b></h3>
    <p><b>{{ meeting.date }}</b></p>
</div>

<div class="responsibility">
    <p>Presiding</p>
    <hr>
    <p class="meeting-item-data">{{ meeting.presiding.name }}</p>
</div>

<div class="responsibility">
    <p>Conducting</p>
    <hr>
    <p class="meeting-item-data">{{ meeting.conductor.name }}</p>
</div>

<div class="responsibility">
    <p>Opening Hymn</p>
    <hr>
    <p class="meeting-item-data">#{{ meeting.openingHymnNumber }}<span class="italics"> "{{ openingHymnName }}"</span></p>
</div>

<div class="responsibility">
    <p>Opening Prayer</p>
    <hr>
    <p class="meeting-item-data">{{ meeting.openingPrayer }}</p>
</div>

<div class="responsibility">
    <p>Sacrament Hymn</p>
    <hr>
    <p class="meeting-item-data">#{{ meeting.sacramentHymnNumber }}<span class="italics"> "{{ sacramentHymnName }}"</span></p>
</div>
<br><br>
<div class="special-activity">
    <p class="center"><b>Passing of the Sacrament By The Aaronic Priesthood</b></p>
</div>
<br>

<div *ngIf="meeting.isFastSunday == 1">
    <p class="center"><b>Bearing of Testimonies</b></p>
</div>
<br><br>

<div *ngFor="let speaker of meeting.speakers">
<div class="responsibility">
    <p>{{ speaker.topic }}</p>
    <hr>
    <p class="meeting-item-data">{{ speaker.name }}</p>
</div>
</div>

<div class="special-activity" >

</div>

<div >

    <div class="responsibility">
        <p>Intermediate Hymn</p>
        <hr>
        <p class="meeting-item-data">#{{ meeting.intermediateHymnNumber }}<span class="italics"> "{{ intermediateHymnName }}"</span></p>
    
    </div>
</div>



<div class="responsibility">
    <p>Closing Hymn</p>
    <hr>
    <p class="meeting-item-data">#{{ meeting.closingHymnNumber }}<span class="italics"> "{{ closingHymnName }}"</span></p>
</div>

<div class="responsibility">
    <p>Closing Prayer</p>
    <hr>
    <p class="meeting-item-data">{{meeting.closingPrayer}}</p>
</div>

<div class="responsibility">
    <p>Dismissal Hymn</p>
    <hr>
    <p class="meeting-item-data">#{{ meeting.dismissalHymnNumber }}<span class="italics"> "{{ dismissalHymnName }}"</span></p>
</div><br><br>

<div class="btn-container display-btn-controls">
    <button class="btn btn-info" routerLink="edit">Edit Meeting</button>
    <button class="btn btn-danger">Delete Meeting</button>

</div>

