.meeting-home {
    display:grid;
    grid-template-columns: 40% 60%;
    justify-content: space-between;
    gap:5%;
}

.upcoming-meetings {
    padding-bottom: 30px;
}

.meeting-type-title {
    border-bottom: 2px solid black;
}

.display-meeting {
    border:2px solid black;
    padding: 10px;
    border-radius: 10px;
}

.meeting-item {
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    border: 2px solid black;
    transition: 0.3s;
    margin:5px;
}

.meeting-item p {
    padding: 5px 10px;
    margin: 0;
    font-size: 14px;
}

.meeting-item:hover {
    background-color: rgb(203, 203, 203);
}