<h1>Meetings</h1>

<section class="meeting-home">
  <section class="meeting-list">
    <div class="upcoming-meetings">
      <p class="meeting-type-title">Upcoming Meetings</p>
      <div class="upcoming-meeting-list">
        <!-- <div class="meeting-item">
            <p>1-1-2022</p>
        </div> -->
      </div>

    </div>
    
    <div class="past-meetings">
      <p class="meeting-type-title">Past Meetings</p>
      <div class="past-meeting-list">
         
      </div>
        <div class="add-meeting-btn-container">
            <button tyoe="button" class="btn btn-success" routerLink="add-meeting"> + Add New Meeting</button>
        </div>
    </div>
  </section>

  <section class="display-meeting">
    <div class="meeting-display-container">
      <app-display></app-display>
    </div>

  </section>


</section>