<h1>Meetings</h1>

<section class="meeting-home">
  <section class="meeting-list">
    <div class="upcoming-meetings">
      <p class="meeting-type-title">Upcoming Meetings</p>
      <div class="upcoming-meeting-list">
        <app-meeting-item class="meeting-item" [routerLink]="[meeting.id]" *ngFor="let meetingEl of meetings">
          
        </app-meeting-item>
      </div>

    </div>

    <div class="past-meetings">
      <p class="meeting-type-title">Past Meetings</p>
      <div class="past-meeting-list">
        <!-- <div class="meeting-item" [routerLink]="[meeting.id]">
          <p>{{ this.meeting.date }}</p>
        </div> -->
      </div>
      <div class="add-meeting-btn-container">
        <a type="button" class="btn btn-success" href="./add"> + Add New Meeting</a>
      </div>
    </div>
  </section>

  <section class="display-meeting">
    <div class="meeting-display-container">
      <router-outlet></router-outlet>
    </div>

  </section>


</section>