<h2>Meetings</h2>

<section class="meeting-home">
  <section class="meeting-list">
    <div class="upcoming-meetings">
      <p>Upcoming Meetings</p>
      <div class="upcoming-meeting-list">
        
      </div>
    </div>
    
    <div class="past-meetings">
      <p>Past Meetings</p>
      <div class="past-meeting-list">
          <div class="meeting-item">
              <p>-Meeting Date-</p>
          </div>
      </div>
    </div>
  </section>

  <section class="display-meeting">
    <div class="meeting-display-container">
      <app-display></app-display>
    </div>
  </section>

  <button tyoe="button" class="btn btn-success" routerLink="add-meeting"> + Add New Meeting</button>

</section>